.tl-bg{
  background-image: url(../../static/imgs/tl.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
}

img.center{
  display: block;
  margin: 0 auto;
}

div.center {
  margin: 0px;
  width: 50%;
  padding: 0px;
  text-align: center;
}

#contact-header{
  text-align: center;
}

#about-paragraph{
  padding:20%;
  padding-top: 0%;
}

#wrapper{
  padding: 20%;
  padding-top: 5%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}

