{% extends "grid_designer/base.html" %}

{% block content %}

<br>
<br>
<br>

<p>
<h3 class='text-justify m-5'> 

    This software is a joint effort between Raphael Santana and Braulio Chuco to design AC substation grounding systems.
    It was developed as a part of RS's undergraduate thesis using Python, a language built by engineers, for engineers.
    The main goal of this project is to inspire other fellow engineers and engineering students to delve into the world of software development, 
    and use this skillset as a innovative advantage and make the world a better place.
    In the author's point of view, one of the worse wastes of human time and work is doing something
    that can be automated, which is the case of doing the procedural math for the grounding systems design.


</h3>
</p>
{% endblock %}