{% extends "grid_designer/base.html" %}

{% block content %}


<br>
<br>
<br>
<br>
<div id="contact-header">
    <h1>
        Contact
    </h1>
    <p>
        If you have any questions or suggestions, make sure to contact me at LinkedIn or Github.
        <br>
        Also, feel free to fork the project and create pull requests to fix or add new content.
    </p>
</div>

<div id="wrapper">
    <div id="github-card" data-username="santanaraphael" class="box">
    </div>

    <div id="linkedin-card" class="LI-profile-badge center box" data-version="v1" data-size="large" data-locale="en_US"
        data-type="horizontal" data-theme="dark" data-vanity="queirozraphael">
        <a class="LI-simple-link" href='https://br.linkedin.com/in/queirozraphael/en?trk=profile-badge'>
            Raphael Santana
        </a>
    </div>
    <div>
        <a href="https://github.com/santanaraphael/grounding">
            Project on Github
        </a>
    </div>

</div>

{% endblock %}