{% extends "grid_designer/base.html" %}
{% block content %}
<br>
<br>
<br>
<h1 class='text-center'> Failed! </h1>

<p class='text-center'>
    Try increasing the number or length of grounding rods, rethink your gravel layer or reduce the trip time.
</p>

<br>

<h2 class='text-center'> 
    Conductor Diameter: {{conductor_diameter}}mm.
    Final Spacement: {{final_spacement}}m.
</h2>
<br>
<h1 class='text-center'> See the charts below: </h1>
<br>
<img class='center' width=1000 src="{{img_path}}">


{% endblock %}